@model NewsMan.ViewModels.ResultListingModel
@{
    ViewData["Title"] = "Index";
}

<span class="badge badge-primary"><h3>Results</h3></span>
<p>Thank you for participating! Here are the results:</p>
<p>
    <a asp-action="Index5">View Stats</a>
</p>

<div class="row">
    <div class="col-md-12">

        <h4>Total Surveys: @Model.TotalSessions</h4>

        <table class="table table-responsive table-striped">

            <tr><th>Question</th><th>Your Answer</th><th colspan="2">Votes</th></tr>
            @for (int i = 0; i < @Model.Answers.Count(); i++)
            {
                <tr>
                    @*<td>
                    @Html.HiddenFor(a => @Model.Answers[i].QMaster.Id)
                </td>*@
                    <td>
                        @Html.ValueFor(q => @Model.Answers[i].QMaster.Question)
                    </td>
                    <td>
                        @Html.ValueFor(a => @Model.Answers[i].AnswerText)
                    </td>
                    <td>
                        @Html.ValueFor(a => @Model.Answers[i].Votes)
                    </td>
                    <td>
                        @Html.ValueFor(a => @Model.Answers[i].Percentage)%
                    </td>

                    @*<td>
                    @Html.DropDownListFor(a => @Model.Answers[i].Answer,
                            new SelectList(@Model.AnswerOptions, "Val", "Answer"), "~ Select ~")
                    </td>*@
                </tr>
            }
        </table>

        @*<div class="progress">
            <div class="progress-bar bg-success" style="width:40%">
                Free Space
            </div>
            <div class="progress-bar bg-warning" style="width:10%">
                Warning
            </div>
            <div class="progress-bar bg-danger" style="width:20%">
                Danger
            </div>
        </div>*@
    </div>   
</div>
