@model NewsMan.ViewModels.ResultSummaryListingModel
@{
    ViewData["Title"] = "Index";
}

<span class="badge badge-primary"><h3>Results</h3></span>
<p>Complete survey results</p>

<div class="row">
    <div class="col-md-12">

        <h4>Total Surveyors: @Model.TotalSessions</h4>
        <table class="table table-responsive table-striped">

            @foreach(var s in @Model.Results)
            {
            <tr>
                <td>
                    @Html.ValueFor(q => s.Survey.Id)
                </td>
                <td>
                    @Html.ValueFor(q => s.Survey.Name)
                </td>
                <td>
                    @Html.ValueFor(a => s.Survey.Purpose)
                </td>
                <td>
                    @Html.ValueFor(a => s.Survey.DateOpen)
                </td>
                <td>
                    @Html.ValueFor(a => s.Survey.DateClose)
                </td>

            </tr>
            }
        </table>
    </div>   
</div>
